In [9]:
## Dependencies
import os
import pandas as pd

In [10]:
# Set CSV input file path
input_path = os.path.join('country_list.csv')
# Read CSV to DataFrame
df = pd.read_csv(input_path, encoding = "ISO-8859-1")
df

,Columna1,World Bank,WHO,Our World in Data,ONU Dicc,ISO-alpha3 code
0,0.0,Afghanistan,Afghanistan,Afghanistan,Afghanistan,AFG
1,1.0,Africa Eastern and Southern,NaN,NaN,NaN,NaN
2,2.0,Africa Western and Central,NaN,NaN,NaN,NaN
3,3.0,NaN,NaN,NaN,land Islands,ALA
4,4.0,Albania,Albania,Albania,Albania,ALB
...,...,...,...,...,...,...
326,NaN,NaN,NaN,Western Europe,NaN,NaN
327,NaN,NaN,NaN,Western Sub-Saharan Africa,Western Sahara,ESH
328,NaN,"Yemen, Rep.",Yemen,Yemen,Yemen,YEM
329,NaN,Zambia,Zambia,Zambia,Zambia,ZMB
330,NaN,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,ZWE

In [11]:
countries = df[["World Bank", "WHO", "Our World in Data", "ONU Dicc", "ISO-alpha3 code"]]
countries

,World Bank,WHO,Our World in Data,ONU Dicc,ISO-alpha3 code
0,Afghanistan,Afghanistan,Afghanistan,Afghanistan,AFG
1,Africa Eastern and Southern,NaN,NaN,NaN,NaN
2,Africa Western and Central,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,land Islands,ALA
4,Albania,Albania,Albania,Albania,ALB
...,...,...,...,...,...
326,NaN,NaN,Western Europe,NaN,NaN
327,NaN,NaN,Western Sub-Saharan Africa,Western Sahara,ESH
328,"Yemen, Rep.",Yemen,Yemen,Yemen,YEM
329,Zambia,Zambia,Zambia,Zambia,ZMB
330,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,ZWE

In [12]:
countries_df = countries.rename(columns={
                       "World Bank":"world_bank", 
                       "WHO":"who", 
                       "Our World in Data":"owid",
                       "ONU Dicc": "onu", 
                       "ISO-alpha3 code":"iso_country"})
countries_df

,world_bank,who,owid,onu,iso_country
0,Afghanistan,Afghanistan,Afghanistan,Afghanistan,AFG
1,Africa Eastern and Southern,NaN,NaN,NaN,NaN
2,Africa Western and Central,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,land Islands,ALA
4,Albania,Albania,Albania,Albania,ALB
...,...,...,...,...,...
326,NaN,NaN,Western Europe,NaN,NaN
327,NaN,NaN,Western Sub-Saharan Africa,Western Sahara,ESH
328,"Yemen, Rep.",Yemen,Yemen,Yemen,YEM
329,Zambia,Zambia,Zambia,Zambia,ZMB
330,Zimbabwe,Zimbabwe,Zimbabwe,Zimbabwe,ZWE

In [13]:
countries_df.to_csv("clean/extract_countries_all.csv", index=False)

In [15]:
countries_df.loc[countries_df['owid'] == 'Russia']

,world_bank,who,owid,onu,iso_country
248,Russian Federation,Russian Federation,Russia,Russian Federation,RUS