In [1]:
## Dependencies
import os
import pandas as pd

In [2]:
## Set input file
birth = 'wb_birth_rate_per_1k.csv'
path_birth = os.path.join('input', birth)

health = 'wb_current_health_expenditure_per_capita.csv'
path_health = os.path.join('input', health)

death = 'wb_death_rate_per_1k.csv'
path_death = os.path.join('input', death)

gdp = 'wb_gdp_per_capita.csv'
path_gdp = os.path.join('input', gdp)

health_pct = 'wb_health_expenditure_pct.csv'
path_health_pct = os.path.join('input', health_pct)

income = 'wb_income_per_capita.csv'
path_income = os.path.join('input', income)

population = 'wb_population_total.csv'
path_population = os.path.join('input', population)

suicide = 'wb_suicide_rate_per_100k.csv'
path_suicide = os.path.join('input', suicide)

unemployment = 'wb_unemployment_pct.csv'
path_unemployment = os.path.join('input', unemployment)

In [3]:

## Load CSV as DataFrame
birth_df = pd.read_csv(path_birth, skiprows=[1,2,3], header=1)
health_df = pd.read_csv(path_health, skiprows=[1,2,3], header=1)
death_df = pd.read_csv(path_death, skiprows=[1,2,3], header=1)
gdp_df = pd.read_csv(path_gdp, skiprows=[1,2,3], header=1)
healthPct_df = pd.read_csv(path_health_pct, skiprows=[1,2,3], header=1)
income_df = pd.read_csv(path_income, skiprows=[1,2,3], header=1)
population_df = pd.read_csv(path_population, skiprows=[1,2,3], header=1)
suicide_df = pd.read_csv(path_suicide, skiprows=[1,2,3], header=1)
unemployment_df = pd.read_csv(path_unemployment, skiprows=[1,2,3], header=1)

In [4]:
## Get countries list
country_list = birth_df['Country Name'].unique()
print('Countries List =', len(country_list))

Countries List = 266

In [5]:
## Set years range
start_year = 1990
end_year = 2020
years_list = [str(i) for i in range(start_year, end_year+1)]
print('Num years =', len(years_list))
print(years_list)

Num years = 31
['1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017', '2018', '2019', '2020']

In [6]:
## Set initial values
country_col = []
year_col = []
birth_rate = []
health = []
death_rate = []
gdp = []
health_pct = []
income = []
population = []
suicide_rate = []
unemployment = []

## Build columns loop
for country in country_list:
    for year in years_list:
        country_col.append(country)
        year_col.append(year)
     
    row_values = birth_df.loc[birth_df['Country Name'] == country][years_list].values[0]
    health_values = health_df.loc[health_df['Country Name'] == country][years_list].values[0]
    death_values = death_df.loc[death_df['Country Name'] == country][years_list].values[0]
    gdp_values = gdp_df.loc[gdp_df['Country Name'] == country][years_list].values[0]
    pct_values = healthPct_df.loc[healthPct_df['Country Name'] == country][years_list].values[0]
    income_values = income_df.loc[income_df['Country Name'] == country][years_list].values[0]
    population_values = population_df.loc[population_df['Country Name'] == country][years_list].values[0]
    suicide_values = suicide_df.loc[suicide_df['Country Name'] == country][years_list].values[0]
    unemployment_values = unemployment_df.loc[unemployment_df['Country Name'] == country][years_list].values[0]
    
    for x in row_values:
        birth_rate.append(x)
        
    for x in health_values:
        health.append(x)
    
    for x in death_values:
        death_rate.append(x)
    
    for x in gdp_values:
        gdp.append(x)
    
    for x in pct_values:
        health_pct.append(x)
        
    for x in income_values:
        income.append(x)
        
    for x in population_values:
        population.append(x)
        
    for x in suicide_values:
        suicide_rate.append(x)
        
    for x in unemployment_values:
        unemployment.append(x)

In [7]:
## Build DataFrame
extract_all = pd.DataFrame({
    'country': country_col,
    'year': year_col,
    'birth_rate': birth_rate,
    'health': health,
    'death_rate': death_rate,
    'gdp': gdp,
    'health_pct': health_pct,
    'income': income,
    'population': population,
    'suicide_rate': suicide_rate,
    'unemployment': unemployment
    
})

In [9]:
after_russia = extract_all.loc[(extract_all["country"]== "Russian Federation")]
after_russia.head()

,country,year,birth_rate,health,death_rate,gdp,health_pct,income,population,suicide_rate,unemployment
6262,Russian Federation,1990,13.4,NaN,11.2,3492.710314,NaN,NaN,147969407.0,NaN,NaN
6263,Russian Federation,1991,12.1,NaN,11.4,3490.452505,NaN,NaN,148394216.0,NaN,5.13
6264,Russian Federation,1992,10.7,NaN,12.2,3098.802639,NaN,1776.313984,148538197.0,NaN,5.18
6265,Russian Federation,1993,9.4,NaN,14.5,2930.670201,NaN,1564.036206,148458777.0,NaN,5.88
6266,Russian Federation,1994,9.5,NaN,15.7,2662.104034,NaN,1336.541564,148407912.0,NaN,8.13

In [10]:
extract_all.replace('Russian Federation', 'Russia', inplace=True)

In [11]:
after_russia_two = extract_all.loc[(extract_all["country"]== "Russia")]
after_russia_two.head()

,country,year,birth_rate,health,death_rate,gdp,health_pct,income,population,suicide_rate,unemployment
6262,Russia,1990,13.4,NaN,11.2,3492.710314,NaN,NaN,147969407.0,NaN,NaN
6263,Russia,1991,12.1,NaN,11.4,3490.452505,NaN,NaN,148394216.0,NaN,5.13
6264,Russia,1992,10.7,NaN,12.2,3098.802639,NaN,1776.313984,148538197.0,NaN,5.18
6265,Russia,1993,9.4,NaN,14.5,2930.670201,NaN,1564.036206,148458777.0,NaN,5.88
6266,Russia,1994,9.5,NaN,15.7,2662.104034,NaN,1336.541564,148407912.0,NaN,8.13

In [12]:
extract_all["country_year"]=extract_all["country"]+"-"+extract_all["year"]
extract_all

,country,year,birth_rate,health,death_rate,gdp,health_pct,income,population,suicide_rate,unemployment,country_year
0,Aruba,1990,19.571,NaN,7.059,12306.717679,NaN,10968.499594,62152.0,NaN,NaN,Aruba-1990
1,Aruba,1991,19.021,NaN,7.054,13495.794301,NaN,12035.551297,64623.0,NaN,NaN,Aruba-1991
2,Aruba,1992,18.446,NaN,7.034,14045.474566,NaN,12508.661730,68240.0,NaN,NaN,Aruba-1992
3,Aruba,1993,17.859,NaN,7.005,14938.681573,NaN,13211.976369,72495.0,NaN,NaN,Aruba-1993
4,Aruba,1994,17.270,NaN,6.973,16239.987852,NaN,14351.257389,76705.0,NaN,NaN,Aruba-1994
...,...,...,...,...,...,...,...,...,...,...,...,...
8241,Zimbabwe,2016,32.864,113.408859,8.286,1464.588957,7.647620,1208.587656,14030338.0,16.8,5.24,Zimbabwe-2016
8242,Zimbabwe,2017,31.732,112.741936,8.044,1335.665064,5.849775,1268.187512,14236599.0,15.0,5.15,Zimbabwe-2017
8243,Zimbabwe,2018,30.676,140.320312,7.883,1352.162653,4.734331,1394.088773,14438812.0,14.0,5.07,Zimbabwe-2018
8244,Zimbabwe,2019,29.747,NaN,7.773,1156.154864,NaN,1208.279870,14645473.0,14.1,5.02,Zimbabwe-2019
8245,Zimbabwe,2020,NaN,NaN,NaN,1128.210711,NaN,NaN,14862927.0,NaN,5.73,Zimbabwe-2020

In [13]:
#extract_birth_rate.to_csv("clean/extract_birth_rate.csv", index=False)
#extract_health_expenditure.to_csv("clean/extract_health_expenditure.csv", index=False)
#extract_death_rate.to_csv("clean/extract_death_rate.csv", index=False)
#extract_gdp.to_csv("clean/extract_gdp.csv", index=False)
#extract_health_pct.to_csv("clean/extract_health_pct.csv", index=False)
#extract_income.to_csv("clean/extract_income.csv", index=False)
#extract_population.to_csv("clean/extract_population.csv", index=False)
#extract_suicide_rate.to_csv("clean/extract_suicide_rate.csv", index=False)
#extract_unemployment.to_csv("clean/extract_unemployment.csv", index=False)

extract_all.to_csv("clean/extract_all.csv", index=False)